.feed {
    border-right: 1px solid whitesmoke;
    border-left: 1px solid whitesmoke;
    min-width: fit-content;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding: 20px 20px;
}

.feed::-webkit-scrollbar {
    display: none;
}

.feed__header {
    position: sticky;
    top: 0;
    /* background-color: whitesmoke; */
    z-index: 100;
    border: 1px solid whitesmoke;
    padding-left: 30px;
}

.feed__header > h2 {
    font-size: 20px;
    font-weight: 800;
}