.post {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid whitesmoke;
    padding-bottom: 10px;
}

.post__description > img {
    border-radius: 20px;
}

.post__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}